- if current_user
  %p= current_user.name
  %p
    :redcarpet
      #{current_user.bio}

%p
  Create your own devblog at
  :redcarpet
    `yourname.codez.it`

%p Featuring code highlighting:

.code
  :redcarpet
    ```ruby
    def foobar
      'foo' + 'bar'
    end
    ```
%p
  and – of course – Github integration:

%p
  Sign up with your
  =link_to "Github account", "/auth/github", class: 'button primary'
