// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import config/colors
@import config/grid

@import blueprint

.post.section
  h1
    a
      color: $header-color
      text-decoration: none
    span
      display: block
      font-size: 14px
      color: $quiet-color
      padding-top: 1em
  article
    +column(8)
