%footer
  .container
    .col.left
      .section
        %h3 About
    .col.middle
      .section
        %h3 See also
    .col.right
      .section
        %h3 Powered by
        %ul.sponsors
          %li= image_tag "http://static-4.cdnhub.nl/images/logo-springest-low.png"
